/**
 * Import the Nerdfonts icon font.
 * Ref https://www.nerdfonts.com/cheat-sheet for a cheatsheet of available Nerdfonts icons.
 */
@import "https://www.nerdfonts.com/assets/css/webfont.css";
@import "mocha.css";

i {
  margin-right: 7px;
}

body {
  color: var(--text);
  font-family:
    CaskaydiaCove Nerd Font Mono,
    ui-monospace,
    monospace;
  font-size: 12px;
  overflow: hidden;
}

div,
span,
p {
  cursor: default;
  user-select: none;
}

html,
body,
#root {
  height: 100%;
}

#root {
  background: var(--crust);
}

.app {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  height: 100%;
  padding: 4px 20px;
}

.left,
.center,
.right {
  display: flex;
  align-items: center;
}

.center {
  justify-self: center;
}

.right {
  justify-self: end;
}

.logo,
.binding-mode,
.tiling-direction,
.paused-button,
.network,
.hardware,
.audio,
.battery {
  margin-right: 15px;
}

.workspaces {
  display: flex;
  align-items: center;
}

.button {
  padding: 4px 8px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  background: var(--surface0);
  color: var(--text);
}

.workspace {
  margin-right: 4px;

  &.displayed {
    background: var(--overlay0);
  }

  &.focused,
  &:hover {
    background: var(--mauve);
    color: var(--crust);
  }
}

.binding-mode {
  background: var(--mauve);
  color: var(--crust);
}

.paused-button {
  background: var(--red);
  color: var(--crust);
}

.network {
  color: var(--yellow);
  border-bottom: 2px solid var(--yellow);
}

.audio {
  color: var(--green);
  border-bottom: 2px solid var(--green);
}

.hardware {
  display: flex;
  color: var(--blue);
  border-bottom: 2px solid var(--blue);
}

.cpu {
  margin-right: 10px;
}

.high-usage {
  color: var(--red);
}

.battery {
  position: relative;
  color: var(--green);
  border-bottom: 2px solid var(--green);
}

.battery .charging-icon {
  position: absolute;
  font-size: 7px;
  left: -8px;
  top: 3px;
}

.weather {
  color: var(--maroon);
  border-bottom: 2px solid var(--maroon);
}
